@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --green: #B9FF66;
    --dark: #191A23;
    --gray: #F3F3F3;

}

*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-weight: 500;
    font-size: 30px;
}


html,
body {
    height: 100%;
    line-height: 1;
    background: #fafafa;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.wrapper {
    background-color: white;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


._container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: content-box;
}


.header {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header img {
    padding-left: 40px;
}

.header-menu {}

.menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu-item:not(:last-child) {
    padding-right: 40px;
}

.menu-item {
    margin: 15px 0px;
}

.menu-button {
    border: 2px #191A23 solid;
}

.btn {
    text-align: center;
    align-content: center;
    display: block;
    width: 230px;
    height: 70px;
    border-radius: 15px;
}

.navigating-page {}

.navigating-page-container,
.things-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.navigation-section,
.things-section {
    padding: 20px 20px 20px 0px;
    display: flex;
    width: 45%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.navigation-text,
.things-text {
    margin: 25px 0px;
}

.navigation-button,
.things-button {
    color: white;
    background-color: #191A23;
    width: 265px;
    height: 70px;
}

.navigation-image,
.things-image {
    padding: 20px 0px 20px 20px;
    width: 45%;
}

.companies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.companies img {
    padding: 25px;

}

.services-page {}

.services-header,
.case-header,
.working-process-header,
.universal-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.services-header p,
.case-header p,
.working-process-header p,
.universal-header p {
    padding-left: 40px;
    width: 60%;
}

.services-header h2,
.case-header h2,
.working-process-header h2,
.universal-header h2 {
    border-radius: 10px;
    padding: 5px;
    background-color: var(--green);
    font-weight: 500;
}

.services-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
}

.services-block {
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.75);
    margin: 15px 0;
    display: flex;
    width: 600px;
    height: 310px;
    background-color: var(--gray);
    border-radius: 20px;
    border: 1px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.services-block-text h3 {
    margin: -5px;
    line-height: 140%;
    display: inline;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--green);
    font-weight: 500;
}

.broken-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.services-block-text {
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.learn-more {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.green {
    background-color: var(--green);
}

.green h3 {
    background-color: white;

}

.black {
    background-color: #191A23;
}

.black .learn-more {
    color: white;
}

.black h3 {
    background-color: white;

}

.black-green h3 {
    background-color: var(--green);

}

.things {
    margin: 100px 0;
}

.things-container {
    display: flex;
    background-color: var(--gray);
    border-radius: 25px;
    height: 350px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.things-image {
    width: 30%;
}

.case-section {
    padding: 35px 0;
    display: flex;
    background-color: #191A23;
    border-radius: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.case-block {
    display: flex;
    width: 25%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

.case-block::after {
    margin: 0px 0px 0px -60px;
    position: absolute;
    content: " ";
    width: 2px;
    height: 200px;
    background: white;
    display: block;
}

.case-text {
    color: white;
}

.case-learn-more {
    padding: 30px 0;
    display: flex;
    color: #B9FF66;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
}

.working-process {}

._container {}

.working-process-block {
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.75);
    margin: 30px 0;
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--gray);
    border-radius: 20px;
    border: 1px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.working-active {
    background-color: #B9FF66;
    height: 300px;
}

.working-process-block-head {
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.head-number {
    font-size: 60px;
    font-weight: 500;
}

.head-text {
    padding-left: 30px;
    font-size: 30px;
    font-weight: 500;
}

.working-process-block img {
    padding-right: 50px;
}

hr {
    width: 90%;
    border: black 1px solid;
}

.working-active-upper {
    width: 100%;
    display: flex;
    padding: 0 0px 30px 0;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.working-active-lower {
    margin: 15px auto;
    width: 90%;
}

.team-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}


.team-block {
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.75);
    margin: 30px 0;
    display: flex;
    width: 390px;
    height: 330px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.team-block-upper {
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: flex-end;
    justify-content: center;
}


.team-block-text {
    padding-left: 20px;
}

.head-text-bold {
    font-weight: 500;
}

.head-text-slim {}

.team-block-lower {
    padding-left: 5%;
    text-align: left;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.team-btn {
    float: right;
    color: white;
    background-color: #191A23;
}

.testimonials {}

.team-header {}

.testimonials-section {
    display: flex;
    width: 100%;
    color: white;
    background-color: #191A23;
    border-radius: 25px;
    height: 640px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.testimonials-block {
    display: flex;
    height: 50%;
    width: 40%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.testimonials-blocks {}

.testimonials-block-bubble {}

.testimonials-block-text {}

.testimonials-block-text-upper {
    color: #B9FF66;
}

.testimonials-block-text-lower {}

.testimonials-icons {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contact-us-header {}

.universal-header {}

.contact-us-section {
    padding: 50px;
    background-color: var(--gray);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact-us-form {
    width: 50%;
}

.contact-us img {
    width: 40%;
}

.form-radials {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.SayHi {}

.radio-one {}

.Get {}

.a {}

.Quote {}

.radio-two {}

.form-btn {}

.btn {}

input {
    padding: 0px 20px;
    margin: 10px 0 25px 0;
    width: 510px;
    height: 60px;
    color: black;
    background-color: white;
    border: black 2px solid;
    border-radius: 15px;
}

textarea {
    padding: 20px;
    margin: 10px 0 40px 0;
    width: 510px;
    height: 150px;
    color: black;
    background-color: white;
    border: black 2px solid;
    border-radius: 15px;
}

label {
    margin: 20px 0;
}

.form-btn {
    width: 550px;
    color: white;
    background-color: #191A23;
}

footer {
    color: white;
    width: 100%;
    background-color: #191A23;
    border-radius: 25px 25px 0px 0px;
}

._mini-container {
    margin: 0 auto;
    width: 90%;
}

.upper-footer {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.upper-footer-logo {}

.upper-footer-list {}

.upper-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.upper-list-item {}

.upper-list-link {
    text-decoration-line: underline;
    padding: 0 15px;
}

.upper-footer-social {
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.between {
    margin: 2px 0px;
    width: fit-content;
    color: black;
    border-radius: 10px;
    padding: 2px;
    background-color: var(--green);
    font-weight: 500;
}

.middle-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}


.middle-list {
    margin: 40px 0;
    line-height: 170%;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.middle-list-item {}

.middle-list-link {}

.middle-footer-buttons {
    height: 185px;
    border-radius: 25px;
    background-color: #292A32;
    width: 634px;
    display: flex;
    
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.middle-footer-button-black {
    color: white;
    border: white 2px solid;
    padding: 0 10px;
    margin-right: 10px;
}

.btn {}

.middle-footer-button-green {
    color: #191A23;
    background-color: #B9FF66;
    border: none;
    padding: 2px 10px;
}

.footer-hr {
    border: 1px white solid;
    background-color: white;
    width: 100%;
}

.lower-footer {
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.rights {
    padding-right: 50px;
}

.privacy {}